body {
    background-color: #D8D2CB;
    margin: 0px;
}

.top-menu {
    background-color: #EEEEEE;
    height: 50px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    height: 300px;
}


.header-img {
    width: 100%;
}

p {
    display: inline-block;
    width: 7%;
    text-align: center;

}

#about {
    position: relative;
    left: 75%;
}

#port {
    position: relative;
    left: 75%;
}

#cont {
    position: relative;
    left: 75%;
}