body {
    background-color: #D8D2CB;
    margin: 0px;
}

.top-menu {
    background-color: #EEEEEE;
    height: 50px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 0%;
}

.header {
    height: 300px;
}


.header-img {
    width: 100%;
}

p {
    display: inline-block;
    width: 10%;
    text-align: center;

}